[submodule "NR-3DQA"]
	path = NR-3DQA
	url = https://github.com/zzc-1998/NR-3DQA.git
[submodule "image-smoother"]
	path = image-smoother
	url = git@github.com:valteu/image-smoother.git
[submodule "gaussian-splatting"]
	path = gaussian-splatting
	url = git@github.com:valteu/gaussian-splatting.git
