[submodule "image-smoother"]
	path = image-smoother
	url = git@github.com:valteu/image-smoother.git
[submodule "LCDPNet"]
	path = LCDPNet
	url = git@github.com:onpix/LCDPNet.git
[submodule "gaussian-splatting"]
	path = gaussian-splatting
	url = git@github.com:valteu/gaussian-splatting.git
